body  {
  margin: 0;
  width: 100%;
  height: 500px;
  background-attachment: fixed;
}

h1 {
  margin: auto;
  width: 60%;
  height: 100px;
  background-color: yellow;
  animation: banbg 5s infinite;
  text-align: center;
  color: black;
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  border-color: black;
  border-style: double double none double;
  border-radius: 10px;
  border-width: 10px;
}

@keyframes banbg {
  50% {background: darkorange bottom right/50px 50px;}
}

nav {
  height: 120px;
  width: 50%;
  margin: auto;
  padding-top: 30px;
}

ul{
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(255,0,0,1));
  transition-duration: 0.4s;
  text-align: center;
  text-shadow: 0px 0px 3px lightcoral;
  font-size: 20px;
  border-color: #ff4242;
  border-radius: 20px;
  border-style: dotted none none none;
  border-width: thick;
  margin: auto;
  padding: 5px;
}
li{
  display: inline;
  font-size: 120%;
}

section {
  width: flex;
  padding: 20px;
  margin: auto;
  background: #ff0000 no-repeat top left/5px 5px;
  animation: secbg 5s infinite;
}

@keyframes secbg {
  50% {background: #ff7b00 bottom right/50px 50px;}
}


#secbg1 {
  background-image:url(secbg1.png);
  background-size: 100%;
  max-width: 100%;
  height: 500px;
  background-attachment: fixed;
}

#secbg2 {
  background-image: url(secbg2.png);
  background-size: 100%;
  max-width: 100%;
  height: 500px;
  background-attachment: fixed;
}

#secbg3 {
  background-image: url(secbg3.png);
  background-size: 100%;
  max-width: 100%;
  height: 500px;
  background-attachment: fixed;
}

#secbg4 {
  background-image: url(secbg4.png);
  background-size: 100%;
  max-width: 100%;
  height: 500px;
  background-attachment: fixed;
}